

body {
    font-family: 'Roboto Slab', arial;
    background-color:rgb(201, 166, 233);
}

/* nav bar */
.nav {
    display: block;
    background-color: lightblue;
    display: inline-block; 
    width: 98vw;    
    border: 2px solid blue;
    border-radius: 5px;
    margin-right: 6px;
    margin-left: 6px;
}

/* Timer count Down text */
.timerCountDown {
    float: left;
}

/* Timer  */
.time {
    float: right;
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    padding: 10px 8px 10px 8px;
}
/* main body section */
.quiz {
    text-align: center;   
}

#bodyOfQuizz {
    text-align: center;
    padding: 10px 20px 10px 8px;
    margin-right: 20px;
    background-color: cyan;
    height: 350px;
    width: 98%;
}

button {
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: lightblue;
}

